
.main-layout .notes-area {
    width: 100%;
    min-height: 45em;
    gap: 20px;
}

.page-item.active .page-link {
    color: black;
    background-color: #DFDFDF;
    border-color: white;
}

.page-item .page-link {
    color: cornflowerblue;
}

.pagination > li:first-child > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > li > button:focus,
.pagination > li > button:hover {
    color: black;
    background-color: #DFDFDF;
    border-color: white;
    box-shadow: 0px 0px 0px 0px;
}
